torch==2.7.0+cu118
llama-index==0.11.22
llama-index-embeddings-huggingface==0.5.3
llama-index-llms-huggingface==0.4.2
sentence-transformers==2.7.0
huggingface-hub==0.29.0
boto3==1.38.13
botocore==1.38.13
openai==1.77.0
typing-extensions==4.13.0
tqdm==4.66.6
beautifulsoup4==4.13.4
striprtf==0.0.26
pypdf==4.3.1
jiter==0.9.0
distro==1.9.0
nest-asyncio==1.6.0
llama-index-readers-file==0.2.2
llama-index-question-gen-openai==0.2.0
llama-index-program-openai==0.2.0
llama-index-multi-modal-llms-openai==0.2.3
llama-index-llms-openai==0.2.16
llama-index-llms-openai-like==0.2.0
llama-index-embeddings-openai==0.2.5
llama-index-embeddings-ollama==0.3.1
llama-index-llms-bedrock==0.3.8
llama-index-agent-openai==0.3.4